html{
    font-size: 62,5%;
}
body{
    font-size: 1.6rem; /* 16px */
    font-family: var(--tipografia);
    font-weight: 400;
    background-color: white;
}

/* ESTILZIAÇÃO HEADER */
.header-principal{
    background-color: white;
    padding: 25px 50px;
    border-bottom: 5px solid black;
}
.header-principal .header-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-principal .header-container .nome{
    color: black;
    font-size: 1.2rem;
    font-weight: 400;
    letter-spacing: 2px;
    
}
.header-principal .header-container .nome:hover h1{
    color: var(--azul3);
    transition: 0.2s;
}


/* ESTILIZAÇÃO MAIN */

/* SECTION INICIO */
@keyframes pan {
    100% {background-position: 30% 80%; }
}
main{

}
main .inicio{
    height: 87vh;
    background-image: url('../images/low-poly-grid-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
    padding: 50px;
    color: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
main .inicio .info{
    margin-right: 20px;
    font-size: 1rem;
}

main .inicio .foto{
    max-width: 300px;
}
main .inicio .foto img{
    width: 100%;
    border-radius: 200px;
}

main .inicio .info .nome{
    margin-bottom: 5px;
    font-size: 2.3rem;
}
main .inicio .info .profissao{
    color: var(--cinza-baixo);
    margin-bottom: 15px;
    font-size: 1.6rem;
}
main .inicio .info .profissao span{
    color: var(--azul-claro);
    font-weight: 800;
}
main .inicio .info .localizacao, .telefone, .gmail{
    font-weight: 600;
    margin-top: 4px;
}

/* REDES SOCIAIS */
main .inicio .redes-sociais{
    margin-top: 15px;
}
main .inicio .redes-sociais a{
    color: white;
    font-size: 2rem;
    transition: 0.3s;
}
main .inicio .redes-sociais a:hover{
    color: var(--azul-claro);
}
main .inicio .redes-sociais a:nth-child(2){
    margin-left: 20px;

}



/* SECTION SOBRE */
main .sobre{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 100px 20px;
    gap: 50px;
}
main .sobre p{
    font-size: 1.4rem;
    font-weight: 500;
}
main .sobre .graduação, .objetivo{
    text-align: center;
    max-width: 500px;
}


main .sobre .graduação{
    grid-area: graduacao;

}
main .sobre .graduação h2{
    color: var(--azul-claro);
}
main .sobre .graduação p:nth-child(3),
.graduação p:nth-child(4), 
.graduação p:nth-child(5){
    font-size: 1.2rem;
}
main .sobre .graduação img{
    width: 150px;
    transition: 0.3s;
}
main .sobre .graduação a:hover img{
    opacity: 0.4;
}


main .sobre .objetivo{
    grid-area: objetivo;

}
main .sobre .objetivo h2{
    color: rgb(243, 66, 66);
}
main .sobre .objetivo p:nth-child(3) span{
    color: blue;
    font-weight: 600;
}




/* GRADUAÇÃO */






/* SECTION HABILIDADES */
@keyframes pan2 {
    100% {background-position: 1% 20%; }
}
main .habilidades{
    background-image: url('../images/stacked-waves-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan2 6s infinite alternate linear;

    display: flex;
    flex-direction: column;

    padding: 50px;
}
main .habilidades .header-habilidades{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
}
main .habilidades .header-habilidades h2{
    font-size: 3rem;
    margin-right: 30px;
    color: white;
    transition: 0.3s;
}
main .habilidades .header-habilidades h2:hover{
    color: red;
}
main .habilidades .header-habilidades img{
    width: 70px;
}


main .habilidades .container-habilidades{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 50px;
}
main .habilidades .container-habilidades .html-header, 
.css-header, 
.js-header{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}
main .habilidades .html-header h3, 
.css-header h3, 
.js-header h3{
    margin-right: 20px;
}
main .habilidades .html-header h3{
    color: rgb(255, 72, 0);
}
main .habilidades .css-header h3{
    color: var(--azul-claro);
}
main .habilidades .js-header h3{
    color: yellow;
}

main .habilidades .barra{
    background-color: white;
    height: 20px;
    width: 100px;
    margin: 0 auto;
}
main .habilidades .barra .nivel{
    height: 20px;
    background-color: rgb(189, 34, 34);
}
.nivel-html{
    width: 100px;
}
.nivel-css{
    width: 100px;
}
.nivel-js{
    width: 20px;
}

main .habilidades .container-habilidades .html-container{

}
main .habilidades h4{
    font-size: 1.3rem;
    margin-top: 20px;
    font-weight: 600;
    text-align: center;
    color: rgb(255, 255, 255);
}



/* SECTION PROJETOS */
main .projetos .projetos-titulo{
    display: flex;
    justify-content: center;
    padding: 50px 0px;
}
main .projetos .projetos-titulo img{
    width: 50px;
    margin-left: 30px;
}
main .projetos h2{
    font-size: 2.7rem;
    transition: 0.3s;
}
main .projetos h3{
    font-size: 1.5rem;
    width: 300px;
    margin: 0 auto;
}
main .projetos h2, h3{
    text-align: center;
}
main .projetos .projetos-titulo h2:hover{
    color: green;
}

/* ESTILIZAÇÕES GERAIS (PRINCIPAIS E SIMPLES) */
main .projetos .boxs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 100px;
    padding: 20px 50px;
}

main .projetos .projetos-simples .box, 
.projetos-principais .box{
    max-width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    text-align: center;
    border-radius: 20px;
}
main .projetos .projetos-simples .box img, 
.projetos-principais .box img{
    width: 100%;
    border-radius: 20px;
}

main .projetos .projetos-principais p,
.projetos-simples p{
    color: white;
    font-size: 1.4rem;
    font-weight: 300;
}
main .projetos .projetos-principais h4,
.projetos-simples h4{
    color: rgb(0, 219, 0);
    font-size: 1.7rem;
}
main .projetos .projetos-principais .link,
.projetos-simples .link{
    color:white;
    font-size: 1.2rem;
    font-weight: 600;
}

main .projetos .projetos-principais .link, p, h4
, .projetos-simples .link, p, h4{
    margin-top: 10px;
}
main .projetos .projetos-principais, .projetos-simples{
    padding-bottom: 50px;
}


/* PROJETOS SIMPLES */
main .projetos .projetos-simples{
    background-color: white;
}
main .projetos .projetos-simples h3{
    margin-bottom: 30px;
    color: rgb(0, 184, 0);
}
main .projetos .projetos-simples p{
    color: black;
}
.projetos-simples .link{
    color: rgb(0, 219, 0);
}


/* PROJETOS PRINCIPAIS */
main .projetos .projetos-principais{
    background-image: url('../images/stacked-peaks-haikei.svg');
    background-repeat: no-repeat;
    background-size: cover;
    animation: pan 6s infinite alternate linear;
}
main .projetos .projetos-principais h3{
    padding: 30px;
    transition: 0.3s;
}
main .projetos .projetos-principais h3:hover{
    color: white;
}